.app {
    background-color: #FFC501;
    padding-top: 32px;
    padding-bottom: 32px;
}

.app h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.app h2 {
    display: none;
}
@media (min-width: 768px) {
    .app {
        height: 509px;
    }

    .app h1 {
        display: none;
    }

    .app h2 {
        display: block;
        font-size: 40px;
        font-weight: 700;
    }
}