.gallery-wrapper-desktop {
    display: none;
}

.gallery {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 64px;
}

.gallery h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-top: 64px;
    margin-bottom: 24px;
}


.gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    margin-top: 0;
}

.gallery-wrapper img {
    width: 100%;
}

@media (min-width: 768px) {
    .gallery-wrapper-desktop {
        display: none;
    }

    .gallery {
        padding-right: 32px;
        padding-left: 32px;
        margin-bottom: 128px;
    }
    .gallery-wrapper {
        display: grid;
        grid-row-gap: 24px;
        grid-column-gap: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
                "first first"
                "second second"
                "third fourth"
                "fifth fifth";
    }

    .gallery h1 {
        font-size: 64px;
        font-weight: 700;
        margin-top: 128px;
        padding-bottom: 24px;
    }

    .img1 {
        grid-area: first;
        object-fit: cover;
        margin: 0;

    }
    .img2 {
        grid-area: second;
    }
    .img3 {
        grid-area: third;

    }
    .img4 {
        grid-area: fourth;
    }
    .img5 {
        grid-area: fifth;
    }
}

@media (min-width: 1440px) {
    .gallery-wrapper {
        display: none;
    }

    .gallery {
        padding: 0px;
        margin-top: 0;
    }

    .gallery-wrapper-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
        padding-left: 64px;
        padding-right: 64px;
    }
    .first-column-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;
        width: 100%;
    }
    .second-column-wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "third fourth"
            "fifth fifth";
        gap: 24px;
    }

    .img3 {
        grid-area: third;
    }
    .img4 {
        grid-area: fourth;
    }
    .img5 {
        grid-area: fifth;
    }

    .gallery h1 {
        font-size: 64px;
        font-weight: 700;
        padding-left: 64px;
        padding-bottom: 24px;
        margin-top: 128px;
    }
}