.header-container {
    height: 116px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: inherit;

    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.wonders-logo {
    display: flex;
    align-items: center;
}

.wonders-logo p {
    display: none;
}

.burger-opener {
    display: flex;
    align-items: center;
}
.burger-opener button {
    background: none;
    border: none;
    padding: 0;
}
#burger-img {
    display: inline-block;
}


.wonders-desktop-nav-menu {
    display: none;
}

.wonders-mobile-nav {
    display: flex;
    gap: 64px;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 116px;
    z-index: 1000;
    padding-top: 64px;
    padding-left: 20px;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #0578FF;
    transition: right 0.3s ease;
}

.wonders-mobile-nav-opened {
    right: 0;
}


.wonders-mobile-nav a {
    text-decoration: none;
    color: white;
    font-size: 32px;
}

@media (min-width: 768px) {
    .header-container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .wonders-logo p {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: 34px;
        font-weight: 400;
        margin: 0;
    }

    .wonders-logo img {
        width: 73px;
        height: 30px;
    }
}

@media (min-width: 1440px) {
    .header-container {
        padding-left: 64px;
        padding-right: 64px;
    }
    #sign-up {
        font-weight: 600;
    }

    .wonders-logo p {
        font-size: 34px;
    }
    .wonders-desktop-nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50vw;
    }

    .wonders-desktop-nav-menu a {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        color: black;
    }

    .wonders-mobile-nav {
        display: none;
    }

    .burger-opener {
        display: none;
    }
}